<!DOCTYPE html>
<html>

<head>
    <title>
        Employees records
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />



</head>

<body>
<% if (user) { %>
    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
    <% } else { %>
        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
        <% } %>

    <h1>
        Records
    </h1>
    <p>Welcome to employees database
    </p>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- USER LIST -->
        <h2>Employees List</h2>
        <div id="userList">
            <table>
                <thead>
                    <th>UserName</th>
                    <th>Email</th>
                    <th>Delete?</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <!-- /USER LIST -->
    </div>
    <!-- /WRAPPER -->
</body>
<script src="/javascripts/global.js" />

</html>